div.mfeedback {}
div.mf-container:after {content: ' '; clear: both; display: block; width: 0; height: 0; overflow: hidden; font-size: 0;}
div.mf-name, div.mf-email, div.mf-captcha, div.mf-message {width:100%; padding-bottom:0.4em;}
div.mf-name input, div.mf-email input {width:85%;}
div.mf-message textarea {width: 85%; padding: 5px 18px;}
span.mf-req {color:red;}
div.mf-ok-text {color:green; font-weight:bold; padding-bottom: 1em;}
